*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:30px;
}

.banner img{
    width:100%;
    height:400px;
    object-fit:cover;
}

.conteudo{
    max-width:1000px;
    margin:auto;
    padding:40px 20px;
    text-align:center;
}

.conteudo h2{
    color:#2e7d32;
    margin-bottom:15px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.card{
    background:white;
    width:280px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#2e7d32;
    margin-bottom:10px;
}

.contador{
    text-align:center;
    padding:40px;
}

#numero{
    font-size:50px;
    color:#2e7d32;
    margin:20px;
    font-weight:bold;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    background:#43a047;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#2e7d32;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

@media(max-width:768px){
    .cards{
        flex-direction:column;
        align-items:center;
    }

    .banner img{
        height:250px;
    }
}
